In [1]:
#verification that each region yileds the equilibrium suggested by theory
%load_ext autoreload
%autoreload 2
from utils.imports import *
from utils.single_stage import get_xi_dist, ml_get_example_in_region
from utils.infinite_horizon import ml_compare_two_solutions

In [2]:
deltaf = 0.001
npts   = 40
dist   = 'uniform'

In [31]:
#ss region 1
ca,cb,la,lb,sa,sb = ml_get_example_in_region(1,dist)
ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

{'ca': 2, 'cb': 0, 'la': 2, 'lb': 1}
{'paa_sst': 2.64, 'pba_sst': 1.32, 'pab_sst': 2, 'pbb_sst': 2}

/Users/theja/miniconda3/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab,constraint_cross_a,constraint_cross_b
0,theory,3.000,1.000,0.500,2.500,0.500,0.500,0.500,0.250,0.251,0.501,1.0,0.0,1.0,0.0
1,computed,2.641,1.256,2.154,2.128,0.692,0.026,0.197,0.003,2.100,0.872,1.0,1.0,1.0,1.0

In [32]:
#ss region 2
ca,cb,la,lb,sa,sb = ml_get_example_in_region(2,dist)
ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

{'ca': 5, 'cb': 0, 'la': 2, 'lb': 1}
{'paa_sst': 5, 'pba_sst': 3, 'pab_sst': 5, 'pbb_sst': 5}

/Users/theja/miniconda3/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab,constraint_cross_a,constraint_cross_b
0,theory,6.000,1.000,0.500,5.500,0.500,0.500,0.500,0.250,0.251,0.501,0.0,0.0,1.0,0.0
1,computed,5.128,3.333,5.641,5.385,0.898,0.256,0.013,0.099,3.841,2.995,1.0,1.0,0.0,1.0

In [33]:
#ss region 3
ca,cb,la,lb,sa,sb = ml_get_example_in_region(3,dist)
ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

{'ca': 1, 'cb': 0, 'la': 2, 'lb': 2}
{'paa_sst': 1.98, 'pba_sst': 0.99, 'pab_sst': 1.32, 'pbb_sst': 1.65}

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab,constraint_cross_a,constraint_cross_b
0,theory,1.999,0.999,1.666,1.333,0.500,0.167,0.500,0.056,1.390,0.501,1.0,1.0,1.0,1.0
1,computed,2.026,1.077,1.692,1.385,0.474,0.153,0.539,0.059,1.433,0.512,1.0,1.0,1.0,1.0

In [34]:
#ss region 4
ca,cb,la,lb,sa,sb = ml_get_example_in_region(4,dist)
ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

{'ca': 3, 'cb': 0, 'la': 1, 'lb': 4}
{'paa_sst': 3, 'pba_sst': 2, 'pab_sst': 3, 'pbb_sst': 3}

/Users/theja/miniconda3/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab,constraint_cross_a,constraint_cross_b
0,theory,3.501,0.499,1.999,5.001,0.500,0.500,0.251,1.001,1.000,0.25,0.0,0.0,0.0,1.0
1,computed,3.128,2.256,3.692,3.385,0.872,0.077,0.016,0.030,3.411,1.97,1.0,1.0,0.0,1.0

In [3]:
#ml ih theory unique bug
cb     = 0.2
la     =   3
lb     =   4
deltaf = 0.4 #common discount function
ca     = cb+.4
df = ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

In [4]:
df

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab,constraint_cross_a,constraint_cross_b
0,theory,2.059,0.808,2.475,1.392,0.417,0.271,1.216,0.489,2.475,0.869,1.0,1.0,1.0,1.0
1,computed,2.010,0.754,2.415,1.369,0.419,0.262,1.168,0.459,2.446,0.836,1.0,1.0,1.0,1.0

In [29]:
df

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab,constraint_cross_a,constraint_cross_b
0,theory,2.059,0.808,2.475,1.392,0.417,0.271,1.216,0.489,2.475,0.869,1.0,1.0,1.0,1.0
1,computed,2.065,0.800,2.491,1.408,0.422,0.271,1.211,0.494,2.493,0.876,1.0,1.0,1.0,1.0