In [1]:
#verification that each region yileds the equilibrium suggested by theory
%load_ext autoreload
%autoreload 2
from utils.imports import *
from utils.single_stage import get_xi_dist, get_example
from utils.infinite_horizon import get_both_solutions
from utils.infinite_horizon_new import ml_compare_two_solutions

In [2]:
deltaf = 0.001
npts   = 40
dist   = 'uniform'

In [3]:
#ss region 1
ca,cb,la,lb = get_example(1,dist)
a = ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)
b = get_both_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

ca 2 cb 0 la 2 lb 1
{'paa_sst': 2.64, 'pba_sst': 1.32, 'pab_sst': 2, 'pbb_sst': 2}

/Users/theja/miniconda3/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

In [4]:
a

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,3.000,1.000,0.500,2.500,0.500,0.500,0.500,0.250,0.251,0.501,1.0,0.0
1,computed,2.641,1.256,2.154,2.128,0.692,0.026,0.197,0.003,2.100,0.872,1.0,1.0

In [5]:
b

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,3.000,1.000,0.500,2.500,0.500,0.500,0.500,0.250,0.251,0.501,1.0,0.0
1,computed,2.641,1.256,2.154,2.128,0.692,0.026,0.197,0.003,2.100,0.872,1.0,1.0

In [6]:
#ss region 2
ca,cb,la,lb = get_example(2,dist)
a = ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)
b = get_both_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

ca 5 cb 0 la 2 lb 1
{'paa_sst': 5, 'pba_sst': 3, 'pab_sst': 5, 'pbb_sst': 5}

/Users/theja/miniconda3/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

In [7]:
a

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,6.000,1.000,0.500,5.500,0.500,0.500,0.500,0.250,0.251,0.501,0.0,0.0
1,computed,5.128,3.333,5.641,5.385,0.898,0.256,0.013,0.099,3.841,2.995,1.0,1.0

In [8]:
b

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,6.000,1.000,0.500,5.500,0.500,0.500,0.500,0.250,0.251,0.501,0.0,0.0
1,computed,5.128,3.333,5.641,5.385,0.898,0.256,0.013,0.099,3.841,2.995,1.0,1.0

In [9]:
#ss region 3
ca,cb,la,lb = get_example(3,dist)
a = ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)
b = get_both_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

ca 1 cb 0 la 2 lb 2
{'paa_sst': 1.98, 'pba_sst': 0.99, 'pab_sst': 1.32, 'pbb_sst': 1.6500000000000001}

In [10]:
a

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,2.000,0.999,1.666,1.332,0.500,0.166,0.500,0.055,1.390,0.500,1.0,1.0
1,computed,2.026,1.077,1.692,1.385,0.474,0.153,0.539,0.059,1.433,0.512,1.0,1.0

In [11]:
b

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,2.000,0.999,1.666,1.332,0.500,0.166,0.500,0.055,1.390,0.500,1.0,1.0
1,computed,2.026,1.077,1.692,1.385,0.474,0.153,0.539,0.059,1.433,0.512,1.0,1.0

In [12]:
#ss region 4
ca,cb,la,lb = get_example(4,dist)
a = ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)
b = get_both_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

ca 3 cb 0 la 1 lb 4
{'paa_sst': 3, 'pba_sst': 2, 'pab_sst': 3.3000000000000003, 'pbb_sst': 3.6300000000000003}

/Users/theja/miniconda3/lib/python3.7/site-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

In [13]:
a

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,3.501,0.499,1.999,5.001,0.500,0.500,0.251,1.001,1.000,0.25,0.0,0.0
1,computed,3.128,2.256,3.692,3.385,0.872,0.077,0.016,0.030,3.411,1.97,1.0,1.0

In [14]:
b

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,3.501,0.499,1.999,5.001,0.500,0.500,0.251,1.001,1.000,0.25,0.0,0.0
1,computed,3.128,2.256,3.692,3.385,0.872,0.077,0.016,0.030,3.411,1.97,1.0,1.0

In [15]:
#ml ih theory unique bug
deltaf = 0.4
ca,cb,la,lb = get_example(3)
a = ml_compare_two_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)
b = get_both_solutions(ca,cb,la,lb,ca+5,npts,deltaf,dist)

ca 1 cb 0 la 2 lb 2
{'paa_sst': 1.98, 'pba_sst': 0.99, 'pab_sst': 1.32, 'pbb_sst': 1.6500000000000001}

In [16]:
a

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,1.822,0.470,1.355,0.937,0.485,0.072,0.537,0.018,2.034,0.785,1.0,0.0
1,computed,1.769,0.615,1.385,1.128,0.577,0.129,0.408,0.057,1.929,0.963,1.0,1.0

In [17]:
b

,type,paa,pba,pbb,pab,xia,xib,vaa,vab,vbb,vba,constraint_aa_ba,constraint_bb_ab
0,theory,1.822,0.470,1.355,0.937,0.485,0.072,0.537,0.018,2.034,0.785,1.0,0.0
1,computed,1.769,0.615,1.385,1.128,0.577,0.129,0.408,0.057,1.929,0.963,1.0,1.0